
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMultipleChoiceAnswerLabel" translate="teachitApp.multipleChoiceAnswer.home.createOrEditLabel">Create or edit a Multiple Choice Answer</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.multipleChoiceAnswer.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.multipleChoiceAnswer.id" readonly />
        </div>

        <div class="form-group">
            <label translate="teachitApp.multipleChoiceAnswer.choosen" for="field_choosen">Choosen</label>
            <select class="form-control" id="field_choosen" name="choosen" ng-model="vm.multipleChoiceAnswer.choosen" ng-options="choice as choice.response for choice in vm.choosens | orderBy:'id' track by choice.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="teachitApp.multipleChoiceAnswer.question" for="field_question">Question</label>
            <select class="form-control" id="field_question" name="question" ng-model="vm.multipleChoiceAnswer.question" ng-options="multipleChoiceQuestion as multipleChoiceQuestion.question for multipleChoiceQuestion in vm.multiplechoicequestions track by multipleChoiceQuestion.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="teachitApp.multipleChoiceAnswer.student" for="field_student">Student</label>
            <select class="form-control" id="field_student" name="student" ng-model="vm.multipleChoiceAnswer.student" ng-options="person as person.id for person in vm.people track by person.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
