
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDiscursiveQuestionLabel" translate="teachitApp.discursiveQuestion.home.createOrEditLabel">Create or edit a Discursive Question</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.discursiveQuestion.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.discursiveQuestion.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="teachitApp.discursiveQuestion.ordering" for="field_ordering">Ordering</label>
            <input type="number" class="form-control" name="ordering" id="field_ordering"
                    ng-model="vm.discursiveQuestion.ordering"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="teachitApp.discursiveQuestion.startDate" for="field_startDate">Start Date</label>
                <div class="input-group">
                    <input id="field_startDate" type="text" class="form-control" name="startDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.discursiveQuestion.startDate" is-open="vm.datePickerOpenStatus.startDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="teachitApp.discursiveQuestion.question" for="field_question">Question</label>
            <input type="text" class="form-control" name="question" id="field_question"
                    ng-model="vm.discursiveQuestion.question"
                     />
        </div>

        <div class="form-group">
            <label translate="teachitApp.discursiveQuestion.course" for="field_course">Course</label>
            <select class="form-control" id="field_course" name="course" ng-model="vm.discursiveQuestion.courseId" ng-options="course.id as course.name for course in vm.courses"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="teachitApp.discursiveQuestion.lesson" for="field_lesson">Lesson</label>
            <select class="form-control" id="field_lesson" name="lesson" ng-model="vm.discursiveQuestion.lessonId" ng-options="lesson.id as lesson.name for lesson in vm.lessons"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
