
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myChoiceLabel" translate="teachitApp.choice.home.createOrEditLabel">Create or edit a Choice</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.choice.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.choice.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="teachitApp.choice.response" for="field_response">Response</label>
            <input type="text" class="form-control" name="response" id="field_response"
                    ng-model="vm.choice.response"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="teachitApp.choice.correct" for="field_correct">Correct</label>
            <input type="checkbox" class="form-control" name="correct" id="field_correct"
                    ng-model="vm.choice.correct"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="teachitApp.choice.ordering" for="field_ordering">Ordering</label>
            <input type="number" class="form-control" name="ordering" id="field_ordering"
                    ng-model="vm.choice.ordering"
                     />
        </div>

        <div class="form-group">
            <label translate="teachitApp.choice.question" for="field_question">Question</label>
            <select class="form-control" id="field_question" name="question" ng-model="vm.choice.questionId" ng-options="multipleChoiceQuestion.id as multipleChoiceQuestion.question for multipleChoiceQuestion in vm.multiplechoicequestions"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
